#buttons, #scoreboard, .text {
    display: flex;
    justify-content: center;
}

#scoreboard span {
    margin: 18px 0;
}

#grid {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 30px 30px 30px;
    justify-items: center;
}